.futuristic-nav{
    @extend .navbar, .navbar-expand-md, .sticky-top;
    background-color: $deep-space-blue;
    .nav-div{
        @extend .container-fluid, .d-flex, .justify-content-between;
    }
    .navbar-brand{
        color: $stellar-silver;
    }
    a{
        color: $stellar-silver;
    }
}