.futuristic-nav{
    @extend .navbar, .navbar-expand-md, .sticky-top;
    background-color: $primary-background-color;
    .nav-div{
        @extend .container-fluid, .d-flex, .justify-content-between;
        color: $primary-text-color;
    }
    .navbar-brand{
        color: $primary-text-color;
    }
}